<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Food Table</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/diary_chart.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<script>
  $('.search-input').focus(function () {
    $(this).parent().addClass('focus');
  }).blur(function () {
    $(this).parent().removeClass('focus');
  })
</script>

<!-- 이미지검색 스크립트 -->
<script type="text/javascript">
  function getShow() {
    document.getElementById("img-box").style.display = "";
  }
  function getHide() {
    document.getElementById("img-box").style.display = "none";
  }
  $('#inputfile').bind('change', function () {
    let fileSize = this.files[0].size / 1024 / 1024; // this gives in MB
    if (fileSize > 1) {
      $("#inputfile").val(null);
      alert('file is too big. images more than 1MB are not allowed')
      return
    }

    let ext = $('#inputfile').val().split('.').pop().toLowerCase();
    if ($.inArray(ext, ['jpg', 'jpeg']) == -1) {
      $("#inputfile").val(null);
      alert('only jpeg/jpg files are allowed!');
    }
  });
</script>
<SCRIPT language="javaScript">
  function check_onclick() {
    for (var i = 0; i < document.frm1.length; i++) {
      document.frm1.elements[i].checked = true;
    }
  }

  function clear_onclick() {
    for (var i = 0; i < document.frm1.length; i++) {
      document.frm1.elements[i].checked = false;
    }
  }
</SCRIPT>

<body>
  <header class="header">
    <div class="header__logo">
      <a href="{{url_for('index')}}">
        <h1><img src="../static/images/logo.png" width="450px" , height="130px"></h1>
      </a>
    </div>
    <div class="header__gnb">
      <ul>
        <li><a href="{{url_for('diary')}}">DIARY</a></li>
        <li><a href="{{url_for('write')}}">WRITE</a></li>
        <li><a href="{{url_for('recommend')}}">RECOMMEND</a></li>
        <li><a href="{{url_for('search')}}">SEARCH</a></li>
        <li><a href="{{url_for('signout')}}">SIGN OUT</a></li>
        <li><a href="#" style="width:40px"><img src="../static/images/user.png" width="35px" , height="35px"></a></li>
      </ul>
    </div>
  </header>
  <div class="content_up">
    <form class="datebox">
      <input type='date' id='currentDate' />
    </form>
    <script>
      document.getElementById('currentDate').value = new Date().toISOString().substring(0, 10);;
    </script>
    <div class="meal">
      <div class="morning">
        <div class="mealtime">
          <a href="write_end_morning.html" style="color: #81C147;">
            <h2 class="texth1" style="cursor:pointer;">Morning</h2>
          </a>
          <a href="write_end_lunch.html">
            <h2 class="texth2" style="cursor:pointer;">Lunch</h2>
          </a>
          <a href="write_end_dinner.html">
            <h2 class="texth3" style="cursor:pointer;">Dinner</h2>
          </a>
        </div>
        <script>
          var text = document.querySelector('.texth1');
          text.onclick = function () {
            text.style.color = '#81c147';
          }
        </script>
        <br>
        <br>
      </div>
      <div class="left_content">
        <div class="left-arrow" style="cursor:pointer">
          <span></span>
        </div>
        <div class="card-columns">
          <div class="card" style='width: 400px;'>
            <!--{% for food in food %}-->
              <img class="card-img-top" src="../static/images/매운갈비찜.PNG" alt="Card image cap" width="400px"
                height="260px">
              <div class="card-body">
                <h5 class="card-title">찜류-육류찜-매운갈비찜</h5>
                <p class="card-text">
                <div class="policy-container">
                  <div class="policy-table">
                    <div class="headings">
                      <span class="heading">1회제공량</span>
                      <span class="heading">에너지(kcal)</span>
                      <span class="heading">단백질(g)</span>
                    </div>
                    <div class="policy">
                      <span>{{food.gram}} (g)</span>
                      <span>{{food.kcal}} (kcal)</span>
                      <span>{{food.protein}} (g)</span>
                    </div>
                  </div>
                  <div class="policy-table">
                    <div class="headings">
                      <span class="heading">지방(g)</span>
                      <span class="heading">탄수화물(kcal)</span>
                      <span class="heading">나트륨(mg)</span>
                    </div>
                    <div class="policy">
                      <span>{{food.fat}} (g)</span>
                      <span>{{food.carbohydrate}} (kcal)</span>
                      <span>{{food.sodium}} (mg)</span>
                    </div>
                  </div>
                  </p>
                </div>
              <!--{% endfor %}-->
            </div>
          </div>
        </div>
        <div class="right-arrow" style="cursor:pointer">
          <span></span>
        </div>
      </div>
      <div class="right_content">
        <div class="up_content">
          <div class="radar">
            <canvas id="marksChart">
            </canvas>
          </div>
          <div class="radar_text">
            </br>
            <span class="today">일일 달성률: 30%</span>
            <span>전체 달성률: 80%</span>
          </div>
        </div>
        <div class="down_content">
          <div class="policy-container">
            <div class="policy-table">
              <div class="policy">
                <span>권장 칼로리</span>
                <span>1796.440</span>
              </div>
              <div class="policy">
                <span>탄수화물</span>
                <span>148.600</span>
              </div>
              <div class="policy">
                <span>단백질</span>
                <span>137.600</span>
              </div>
              <div class="policy">
                <span>지방</span>
                <span>72.600</span>
              </div>
              <div class="policy">
                <span>나트륨</span>
                <span>3154.570</span>
              </div>
            </div>
          </div>
        </div>
        <script>
          var marksCanvas = document.getElementById("marksChart");

          var marksData = {
            labels: ["열량", "탄수화물", "단백질", "지방", "나트륨"],
            datasets: [{
              label: "가 음식",
              fill: true,
              backgroundColor: "rgba(179,181,198,0.2)",
              borderColor: "rgba(179,181,198,1)",
              pointBorderColor: "#fff",
              pointBackgroundColor: "rgba(179,181,198,1)",
              data: [78.77, 55.61, 71.69, 86.62, 69.82]
            }, {
              label: "나 음식",
              fill: true,
              backgroundColor: "rgba(255,99,132,0.2)",
              borderColor: "rgba(255,99,132,1)",
              pointBorderColor: "#fff",
              pointBackgroundColor: "rgba(255,99,132,1)",
              pointBorderColor: "#fff",
              data: [75.48, 54.16, 74.61, 81.06, 61.45]
            }]
          };

          var chartOptions = {
            title: {
              display: true,
              text: '가 음식 vs 나 음식'
            },
            scale: {
              angleLines: {
                display: false
              },
              ticks: {
                beginAtZero: true,
                min: 0,
                max: 100,
                stepSize: 10
              },
            },
          };

          var radarChart = new Chart(marksCanvas, {
            type: 'radar',
            data: marksData,
            options: chartOptions
          });
        </script>
      </div>
    </div>
  </div>
    <div class="footer-basic">
      <footer>
          <ul class="list-inline">
              <li class="list-inline-item"><a href="{{url_for('index')}}">Home</a></li>
              <li class="list-inline-item"><a href="#">Services</a></li>
              <li class="list-inline-item"><a href="#">About</a></li>
              <li class="list-inline-item"><a href="#">Terms</a></li>
              <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
          </ul>
          <p class="copyright">Company Name © 2022</p>
      </footer>
      </div>
  </div>
</body>

</html>