<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Food Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/indexout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>


<body>
    <header>
        <nav class="header">
          <div class="header__logo">
            <a href="{{url_for('index')}}">
              <!--<h1><img src="../static/images/logo2.png" width="280px" , height="45px"></h1>-->
              <h1><img src="../static/images/logo.png" width="269px" , height="65px"></h1>
            </a>
          </div>
          <div class="header__menu">
            <ul>
              <li><a href="{{url_for('diary')}}">DIARY</a></li>
              <li><a href="{{url_for('write')}}">WRITE</a></li>
              <li><a href="{{url_for('recommend')}}">RECOMMEND</a></li>
              <li><a href="{{url_for('search_info')}}">SEARCH</a></li>
              <li><a href="{{url_for('signout')}}">SIGN OUT</a></li>
              <li><a href="{{url_for('mypage')}}" style="width:40px"><img src="../static/images/user.png" width="35px" , height="35px"></a></li>
            </ul>
          </div>
        </nav>
      </header>
        <div class = "content_up">
          <section class="sec1">
            <div class="about">
              <h3>DESIGN YOUR FOOD</h3>
              <p>Our Food Should Be Our Medicine & Our Medicine Should Be Our Food.</p>
            </div>
          </section>
          <section class="sec2">
            <div class="content1">
              <img src="../static/images/sa4.jpg" width="100%", height="100%">
            </div>
            <div class="content2">
              <div class="service_info">
                <ul>
                  <h4>Diary</h4>
                  <li>Diary는 기록된 식단을 조회합니다.</li>
                </ul>
                <ul>
                  <h4>Write</h4>
                  <li>Write는 식단을 기록합니다.</li>
                </ul>
                <ul>
                  <h4>Recommend</h4>
                  <li>Recommend는 식단을 추천합니다.</li>
                </ul>
                <ul>
                  <h4>Search</h4>
                  <li>Search에서는 음식영양정보를 조회합니다.</li>
                </ul>
              </div>
            </div>
          </section>
        </div>
    </div>
    <div class="footer-basic">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Company Name © 2022</p>
        </footer>
    </div>
</body>
</html>