<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Food Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/mypage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script>
        let id = $('#id');
        let pw = $('#pw');
        let btn = $('#btn');

        $(btn).on('click', function () {
            if ($(id).val() == "") {
                $(id).next('label').addClass('warning');
                setTimeout(function () {
                    $('label').removeClass('warning');
                }, 1500);
            }
            else if ($(pw).val() == "") {
                $(pw).next('label').addClass('warning');
                setTimeout(function () {    
                    $('label').removeClass('warning');
                }, 1500);
            }
        });
    </script>

<body>
    <div class="frame" method="get" action="form-action.html">
        <section class="login-form">
            <h1><img src="../static/images/logo.png" width="330px" , height="100px"></h1>
            <form action="">
                <fieldset>
                    <div class="int-area">
                        <label for="id" id="id1">ID</label>
                    </div>
                    <div class="int-area" style="border-bottom: 1px solid #999; line-height: 7px;">
                        <label for="id2" id="id2" style="color:black;">{{userInfo.userid}}</label>
                    </div>
                    <div class="int-area">
                        <label for="pw">PASSWORD</label>
                    </div>
                    <div class="int-area" style="border-bottom: 1px solid #999; line-height: 7px;">
                        <label for="pw2" id="pw2" style="color:black">{{userInfo.password}}</label>
                    </div>
                    <div class="int-area">
                        <label for="user_name">USER NAME</label>
                    </div>
                    <div class="int-area" style="border-bottom: 1px solid #999; line-height: 7px;">
                        <label for="user_name2" id="user_name2" style="color:black">{{userInfo.username}}</label>
                    </div>
                    <div class="int-area">
                        <label for="phone_num">PHONE NUMBER</label>
                    </div>
                    <div class="int-area" style="border-bottom: 1px solid #999; line-height: 7px;">
                        <label for="phone_num2" id="phone_num2" style="color:black">{{userInfo.phone}}</label>
                    </div>
                    <div class="int-area">
                        <label for="age">AGE</label>
                    </div>
                    <div class="int-area" style="border-bottom: 1px solid #999; line-height: 7px;">
                        <label for="age2" style="color:black">{{userInfo.age}}</label>
                    </div>
                    <div class="int-area">
                        <label for="height">SEX(M or F)</label>
                    </div>
                    <div class="int-area" style="border-bottom: 1px solid #999; line-height: 7px;">
                        <label for="height2" style="color:black">{{userInfo.sex}}</label>
                    </div>
                    <div class="int-area">
                        <label for="weight">WEIGHT</label>
                    </div>
                    <div class="int-area" style="border-bottom: 1px solid #999; line-height: 7px;">
                        <label for="weight2" style="color:black">{{userInfo.weight}}</label>
                    </div>
                    <div class="int-area">
                        <label for="activity">ACTIVITY</label>
                    </div>
                    <div class="int-area" style="border-bottom: 1px solid #999; line-height: 7px;">
                        <label for="activity2" style="color:black;">{{userInfo.acti}}</label>
                    </div>
                    <div class="btn-area">
                        <button type="button" onclick="location.href='{{ url_for('index')}}'">Check</button>
                    </div>
                </fieldset>
            </form>
        </section>
    </div>
        </div>
    </div>
    </div>
    </div>
</body>

</html>