<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Food Table</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/result.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>

<body>
  <header class="header">
    <div class="header__logo">
      <a href="{{url_for('diary')}}">
        <h1><img src="../static/images/logo.png" width="450px" , height="130px"></h1>
      </a>
    </div>
    <div class="header__gnb">
      <ul>
        <li><a href="{{url_for('diary')}}">DIARY</a></li>
        <li><a href="{{url_for('write')}}">WRITE</a></li>
        <li><a href="{{url_for('recommend')}}">RECOMMEND</a></li>
        <li><a href="{{url_for('search')}}">SEARCH</a></li>
        <li><a href="{{url_for('signout')}}">SIGN OUT</a></li>
        <li><a href="#"><img src="../static/images/user.png" width="35px", height="35px"></a></li>
    </ul>   
    </div>
  </header>
  <div id="warp">
    <div class="content_up">
      </br>
      <div class="left_content">
        <div class="radar">
          <canvas id="marksChart">
          </canvas>
        </div>
        <div class="radar_text">
          </br>
          <span class="today">일일 달성률: 30%</span>
          <span>전체 달성률: 80%</span>
        </div>
      </div>
      <div class="right_content">
        <div class="policy-container">
          <div class="policy-table">
            <div class="policy">
              <span>권장 칼로리 섭취량</span>
              <span>{{uRDI}} kcal</span>
            </div>
            <div class="policy">
              <span>권장 탄수화물 섭취량</span>
              <span>{{nut[0]}} g</span>
            </div>
            <div class="policy">
              <span>권장 단백질 섭취량</span>
              <span>{{nut[1]}} g</span>
            </div>
            <div class="policy">
              <span>권장 지방 섭취량</span>
              <span>{{nut[2]}} g</span>
            </div>
            <div class="policy">
              <span>권장 나트륨 섭취량</span>
              <span>2300 mg</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      var marksCanvas = document.getElementById("marksChart");

      var marksData = {
        labels: ["열량", "탄수화물", "단백질", "지방", "나트륨"],
        datasets: [{
          label: "가 음식",
          fill: true,
          backgroundColor: "rgba(179,181,198,0.2)",
          borderColor: "rgba(179,181,198,1)",
          pointBorderColor: "#fff",
          pointBackgroundColor: "rgba(179,181,198,1)",
          data: [78.77, 55.61, 71.69, 86.62, 69.82]
        }, {
          label: "나 음식",
          fill: true,
          backgroundColor: "rgba(255,99,132,0.2)",
          borderColor: "rgba(255,99,132,1)",
          pointBorderColor: "#fff",
          pointBackgroundColor: "rgba(255,99,132,1)",
          pointBorderColor: "#fff",
          data: [75.48, 54.16, 74.61, 81.06, 61.45]
        }]
      };

      var chartOptions = {
        title: {
          display: true,
          text: '가 음식 vs 나 음식'
        },
        scale: {
          angleLines: {
            display: false
          },
          ticks: {
            beginAtZero: true,
            min: 0,
            max: 100,
            stepSize: 10
          },
        },
      };

      var radarChart = new Chart(marksCanvas, {
        type: 'radar',
        data: marksData,
        options: chartOptions
      });
    </script>
  </div>
  <div class="card-columns">
    <div class="card" style='width: 400px;'>
      <img class="card-img-top" src="../static/images/매운갈비찜.PNG" alt="Card image cap" width="400px" height="260px">
      <div class="card-body">
        <h5 class="card-title">{{menu1.foodname}}</h5>
        <p class="card-text">
        <div class="policy-container">
          <div class="policy-table">
            <div class="headings">
              <span class="heading">1회제공량(g)</span>
              <span class="heading">에너지(kcal)</span>
              <span class="heading">단백질(g)</span>
            </div>
            <div class="policy">
              <span>{{menu1.gram}}</span>
              <span>{{menu1.kcal}}</span>
              <span>{{menu1.protein}}</span>
            </div>
          </div>
          <div class="policy-table">
            <div class="headings">
              <span class="heading">지방(g)</span>
              <span class="heading">탄수화물(g)</span>
              <span class="heading">나트륨(mg)</span>
            </div>
            <div class="policy">
              <span>{{menu1.fat}}</span>
              <span>{{menu1.carbohydrate}}</span>
              <span>{{menu1.sodium}}</span>
            </div>
          </div>
          </p>
        </div>
      </div>
    </div>
    <div class="card" style='width: 400px;'>
      <img class="card-img-top" src="../static/images/치킨데리야끼.PNG" alt="Card image cap" width="400px" height="260px">
      <div class="card-body">
        <h5 class="card-title">{{menu2.foodname}}</h5>
        <p class="card-text">
        <div class="policy-container">
          <div class="policy-table">
            <div class="headings">
              <span class="heading">1회제공량(g)</span>
              <span class="heading">에너지(kcal)</span>
              <span class="heading">단백질(g)</span>
            </div>
            <div class="policy">
              <span>{{menu2.gram}}</span>
              <span>{{menu2.kcal}}</span>
              <span>{{menu2.protein}}</span>
            </div>
          </div>
          <div class="policy-table">
            <div class="headings">
              <span class="heading">지방(g)</span>
              <span class="heading">탄수화물(g)</span>
              <span class="heading">나트륨(mg)</span>
            </div>
            <div class="policy">
              <span>{{menu2.fat}}</span>
              <span>{{menu2.carbohydrate}}</span>
              <span>{{menu2.sodium}}</span>
            </div>
          </div>
          </p>
        </div>
      </div>
    </div>
    <div class="card" style='width: 400px;'>
      <img class="card-img-top" src="../static/images/짜장밥.jpg" alt="Card image cap" width="400px" height="260px">
      <div class="card-body">
        <h5 class="card-title">{{menu3.foodname}}</h5>
        <p class="card-text">
        <div class="policy-container">
          <div class="policy-table">
            <div class="headings">
              <span class="heading">1회제공량(g)</span>
              <span class="heading">에너지(kcal)</span>
              <span class="heading">단백질(g)</span>
            </div>
            <div class="policy">
              <span>{{menu3.gram}}</span>
              <span>{{menu3.kcal}}</span>
              <span>{{menu3.protein}}</span>
            </div>
          </div>
          <div class="policy-table">
            <div class="headings">
              <span class="heading">지방(g)</span>
              <span class="heading">탄수화물(g)</span>
              <span class="heading">나트륨(mg)</span>
            </div>
            <div class="policy">
              <span>{{menu3.fat}}</span>
              <span>{{menu3.carbohydrate}}</span>
              <span>{{menu3.sodium}}</span>
            </div>
          </div>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-basic">
    <footer>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Home</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      </ul>
      <p class="copyright">Company Name © 2022</p>
    </footer>
  </div>
</body>

</html>