<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Food Table</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/diary.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<script>
  $('.search-input').focus(function () {
    $(this).parent().addClass('focus');
  }).blur(function () {
    $(this).parent().removeClass('focus');
  })
</script>

<!-- 이미지검색 스크립트 -->
<script type="text/javascript">
  function getShow() {
    document.getElementById("img-box").style.display = "";
  }
  function getHide() {
    document.getElementById("img-box").style.display = "none";
  }
  $('#inputfile').bind('change', function () {
    let fileSize = this.files[0].size / 1024 / 1024; // this gives in MB
    if (fileSize > 1) {
      $("#inputfile").val(null);
      alert('file is too big. images more than 1MB are not allowed')
      return
    }

    let ext = $('#inputfile').val().split('.').pop().toLowerCase();
    if ($.inArray(ext, ['jpg', 'jpeg']) == -1) {
      $("#inputfile").val(null);
      alert('only jpeg/jpg files are allowed!');
    }
  });
</script>
<SCRIPT language="javaScript">
  function check_onclick() {
    for (var i = 0; i < document.frm1.length; i++) {
      document.frm1.elements[i].checked = true;
    }
  }

  function clear_onclick() {
    for (var i = 0; i < document.frm1.length; i++) {
      document.frm1.elements[i].checked = false;
    }
  }
</SCRIPT>

<body>
  <header class="header">
    <div class="header__logo">
      <a href="#">
        <h1><img src="../static/images/logo.png" width="450px" , height="130px"></h1>
      </a>
    </div>
    <div class="header__gnb">
      <ul>
        <li><a href="#">WRITE</a></li>
        <li><a href="#">DIARY</a></li>
        <li><a href="#">SEARCH</a></li>
        <li><a href="#">SIGN OUT</a></li>
        <li><a href="#" style="width:40px"><img src="../static/images/user.png" width="35px" , height="35px"></a></li>
      </ul>
    </div>
  </header>
  <div class="content_up">
    <form class="datebox">
      <input type='date' id='currentDate' />
    </form>
    <script>
      document.getElementById('currentDate').value = new Date().toISOString().substring(0, 10);;
    </script>
    <div class="meal">
      <div class="morning">
        <div class="mealtime">
          <a href="write_end_morning.html" style="color: #81C147;">
            <h2 class="texth1" style="cursor:pointer;">Morning</h2>
          </a>
          <a href="write_end_lunch.html">
            <h2 class="texth2" style="cursor:pointer;">Lunch</h2>
          </a>
          <a href="write_end_dinner.html">
            <h2 class="texth3" style="cursor:pointer;">Dinner</h2>
          </a>
        </div>
        <script>
          var text = document.querySelector('.texth1');
          text.onclick = function () {
            text.style.color = '#81c147';
          }
        </script>
        <br>
        <br>
        <div class="left-arrow" style="cursor:pointer">
          <span></span>
        </div>
        <div class="card-columns">
          <div class="card" style='width: 400px;'>
            <img class="card-img-top" src="../static/images/매운갈비찜.PNG" alt="Card image cap" width="400px"
              height="260px">
            <div class="card-body">
              <h5 class="card-title">찜류-육류찜-매운갈비찜</h5>
              <p class="card-text">
              <div class="policy-container">
                <div class="policy-table">
                  <div class="headings">
                    <span class="heading">1회제공량</span>
                    <span class="heading">에너지(kcal)</span>
                    <span class="heading">단백질(g)</span>
                  </div>
                  <div class="policy">
                    <span>300</span>
                    <span>517.44</span>
                    <span>61.3</span>
                  </div>
                </div>
                <div class="policy-table">
                  <div class="headings">
                    <span class="heading">지방(g)</span>
                    <span class="heading">탄수화물(kcal)</span>
                    <span class="heading">나트륨(mg)</span>
                  </div>
                  <div class="policy">
                    <span>19.7</span>
                    <span>23.7</span>
                    <span>1138.51</span>
                  </div>
                </div>
                </p>
              </div>
            </div>
          </div>
          <div class="card" style='width: 400px;'>
            <img class="card-img-top" src="../static/images/치킨데리야끼.PNG" alt="Card image cap" width="400px"
              height="260px">
            <div class="card-body">
              <h5 class="card-title">구이류-육류구이-치킨데리야끼</h5>
              <p class="card-text">
              <div class="policy-container">
                <div class="policy-table">
                  <div class="headings">
                    <span class="heading">1회제공량</span>
                    <span class="heading">에너지(kcal)</span>
                    <span class="heading">단백질(g)</span>
                  </div>
                  <div class="policy">
                    <span>340</span>
                    <span>707.00</span>
                    <span>56.2</span>
                  </div>
                </div>
                <div class="policy-table">
                  <div class="headings">
                    <span class="heading">지방(g)</span>
                    <span class="heading">탄수화물(kcal)</span>
                    <span class="heading">나트륨(mg)</span>
                  </div>
                  <div class="policy">
                    <span>30.7</span>
                    <span>51.7</span>
                    <span>906.15</span>
                  </div>
                </div>
                </p>
              </div>
            </div>
          </div>
          <div class="card" style='width: 400px;'>
            <img class="card-img-top" src="../static/images/짜장밥.jpg" alt="Card image cap" width="400px" height="260px">
            <div class="card-body">
              <h5 class="card-title">밥류-덮밥류-짜장밥</h5>
              <p class="card-text">
              <div class="policy-container">
                <div class="policy-table">
                  <div class="headings">
                    <span class="heading">1회제공량</span>
                    <span class="heading">에너지(kcal)</span>
                    <span class="heading">단백질(g)</span>
                  </div>
                  <div class="policy">
                    <span>470</span>
                    <span>572.00</span>
                    <span>20.1</span>
                  </div>
                </div>
                <div class="policy-table">
                  <div class="headings">
                    <span class="heading">지방(g)</span>
                    <span class="heading">탄수화물(kcal)</span>
                    <span class="heading">나트륨(mg)</span>
                  </div>
                  <div class="policy">
                    <span>22.2</span>
                    <span>73.2</span>
                    <span>1109.91</span>
                  </div>
                </div>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="right-arrow" style="cursor:pointer">
          <span></span>
        </div>
        <div class="footer-basic">
          <footer>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#">Home</a></li>
              <li class="list-inline-item"><a href="#">Services</a></li>
              <li class="list-inline-item"><a href="#">About</a></li>
              <li class="list-inline-item"><a href="#">Terms</a></li>
              <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Company Name © 2022</p>
          </footer>
        </div>
      </div>
    </div>
</body>

</html>