<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Food Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/write_end.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<div id="warp">
    <body>
        <header class="header">
            <div class="header__logo">
                <a href="#">
                    <h1><img src="../static/images/logo.png" width="450px" , height="130px"></h1>
                </a>
            </div>
            <div class="header__gnb">
                <ul>
                    <li><a href="#">WRITE</a></li>
                    <li><a href="#">SEARCH</a></li>
                    <li><a href="#">SIGN OUT</a></li>
                    <li><a href="#" style="width:70px"><img src="../static/images/user.png" width="35px" ,
                                height="35px"></a></li>
                </ul>
            </div>
        </header>
        <div class="content_up">
            <div class="day">
                <br>
                <br>
                <h5>Saturday, 11 June 2022</h5>
            </div>
            <div class="menu_bar">
                <div class="left-arrow" style="cursor:pointer">
                    <span></span>
                </div>
                <nav>
                    <a href="write_SU.html">SU</a>
                    <a href="write_MO.html">MO</a>
                    <a href="write_TU.html">TU</a>
                    <a href="write_WE.html">WE</a>
                    <a href="write_TH.html">TH</a>
                    <a href="write_FR.html">FR</a>
                    <a href="write_SA.html">SA</a>
                    <div class="animation start-home"></div>
                </nav>
                <div class="right-arrow" style="cursor:pointer">
                    <span></span>
                </div>
            </div>
            <div class="meal">
                <div class="morning">
                    <br>
                    <h4>MORNING</h4>
                    <br>
                    <div class="card-columns">
                        <div class="card" style='width: 400px;'>
                            <img class="card-img-top" src="../static/images/매운갈비찜.PNG" alt="Card image cap"
                                width="400px" height="260px">
                            <div class="card-body">
                                <h5 class="card-title">찜류-육류찜-매운갈비찜</h5>
                                <p class="card-text">
                                <div class="policy-container">
                                    <div class="policy-table">
                                        <div class="headings">
                                            <span class="heading">1회제공량</span>
                                            <span class="heading">에너지(kcal)</span>
                                            <span class="heading">단백질(g)</span>
                                        </div>
                                        <div class="policy">
                                            <span>300</span>
                                            <span>517.44</span>
                                            <span>61.3</span>
                                        </div>
                                    </div>
                                    <div class="policy-table">
                                        <div class="headings">
                                            <span class="heading">지방(g)</span>
                                            <span class="heading">탄수화물(kcal)</span>
                                            <span class="heading">나트륨(mg)</span>
                                        </div>
                                        <div class="policy">
                                            <span>19.7</span>
                                            <span>23.7</span>
                                            <span>1138.51</span>
                                        </div>
                                    </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card" style='width: 400px;'>
                            <img class="card-img-top" src="../static/images/치킨데리야끼.PNG" alt="Card image cap"
                                width="400px" height="260px">
                            <div class="card-body">
                                <h5 class="card-title">구이류-육류구이-치킨데리야끼</h5>
                                <p class="card-text">
                                <div class="policy-container">
                                    <div class="policy-table">
                                        <div class="headings">
                                            <span class="heading">1회제공량</span>
                                            <span class="heading">에너지(kcal)</span>
                                            <span class="heading">단백질(g)</span>
                                        </div>
                                        <div class="policy">
                                            <span>340</span>
                                            <span>707.00</span>
                                            <span>56.2</span>
                                        </div>
                                    </div>
                                    <div class="policy-table">
                                        <div class="headings">
                                            <span class="heading">지방(g)</span>
                                            <span class="heading">탄수화물(kcal)</span>
                                            <span class="heading">나트륨(mg)</span>
                                        </div>
                                        <div class="policy">
                                            <span>30.7</span>
                                            <span>51.7</span>
                                            <span>906.15</span>
                                        </div>
                                    </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card" style='width: 400px;'>
                            <img class="card-img-top" src="../static/images/짜장밥.jpg" alt="Card image cap" width="400px"
                                height="260px">
                            <div class="card-body">
                                <h5 class="card-title">밥류-덮밥류-짜장밥</h5>
                                <p class="card-text">
                                <div class="policy-container">
                                    <div class="policy-table">
                                        <div class="headings">
                                            <span class="heading">1회제공량</span>
                                            <span class="heading">에너지(kcal)</span>
                                            <span class="heading">단백질(g)</span>
                                        </div>
                                        <div class="policy">
                                            <span>470</span>
                                            <span>572.00</span>
                                            <span>20.1</span>
                                        </div>
                                    </div>
                                    <div class="policy-table">
                                        <div class="headings">
                                            <span class="heading">지방(g)</span>
                                            <span class="heading">탄수화물(kcal)</span>
                                            <span class="heading">나트륨(mg)</span>
                                        </div>
                                        <div class="policy">
                                            <span>22.2</span>
                                            <span>73.2</span>
                                            <span>1109.91</span>
                                        </div>
                                    </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lunch">
                    <br>
                    <h4>LUNCH</h4>
                    <br>
                    <div class="card-columns">
                        <div class="card" style='width: 400px;'>
                            <img class="card-img-top" src="../static/images/매운갈비찜.PNG" alt="Card image cap"
                                width="400px" height="260px">
                            <div class="card-body">
                                <h5 class="card-title">찜류-육류찜-매운갈비찜</h5>
                                <p class="card-text">
                                <div class="policy-container">
                                    <div class="policy-table">
                                        <div class="headings">
                                            <span class="heading">1회제공량</span>
                                            <span class="heading">에너지(kcal)</span>
                                            <span class="heading">단백질(g)</span>
                                        </div>
                                        <div class="policy">
                                            <span>300</span>
                                            <span>517.44</span>
                                            <span>61.3</span>
                                        </div>
                                    </div>
                                    <div class="policy-table">
                                        <div class="headings">
                                            <span class="heading">지방(g)</span>
                                            <span class="heading">탄수화물(kcal)</span>
                                            <span class="heading">나트륨(mg)</span>
                                        </div>
                                        <div class="policy">
                                            <span>19.7</span>
                                            <span>23.7</span>
                                            <span>1138.51</span>
                                        </div>
                                    </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card" style='width: 400px;'>
                            <img class="card-img-top" src="../static/images/치킨데리야끼.PNG" alt="Card image cap"
                                width="400px" height="260px">
                            <div class="card-body">
                                <h5 class="card-title">구이류-육류구이-치킨데리야끼</h5>
                                <p class="card-text">
                                <div class="policy-container">
                                    <div class="policy-table">
                                        <div class="headings">
                                            <span class="heading">1회제공량</span>
                                            <span class="heading">에너지(kcal)</span>
                                            <span class="heading">단백질(g)</span>
                                        </div>
                                        <div class="policy">
                                            <span>340</span>
                                            <span>707.00</span>
                                            <span>56.2</span>
                                        </div>
                                    </div>
                                    <div class="policy-table">
                                        <div class="headings">
                                            <span class="heading">지방(g)</span>
                                            <span class="heading">탄수화물(kcal)</span>
                                            <span class="heading">나트륨(mg)</span>
                                        </div>
                                        <div class="policy">
                                            <span>30.7</span>
                                            <span>51.7</span>
                                            <span>906.15</span>
                                        </div>
                                    </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card" style='width: 400px;'>
                            <img class="card-img-top" src="../static/images/짜장밥.jpg" alt="Card image cap" width="400px"
                                height="260px">
                            <div class="card-body">
                                <h5 class="card-title">밥류-덮밥류-짜장밥</h5>
                                <p class="card-text">
                                <div class="policy-container">
                                    <div class="policy-table">
                                        <div class="headings">
                                            <span class="heading">1회제공량</span>
                                            <span class="heading">에너지(kcal)</span>
                                            <span class="heading">단백질(g)</span>
                                        </div>
                                        <div class="policy">
                                            <span>470</span>
                                            <span>572.00</span>
                                            <span>20.1</span>
                                        </div>
                                    </div>
                                    <div class="policy-table">
                                        <div class="headings">
                                            <span class="heading">지방(g)</span>
                                            <span class="heading">탄수화물(kcal)</span>
                                            <span class="heading">나트륨(mg)</span>
                                        </div>
                                        <div class="policy">
                                            <span>22.2</span>
                                            <span>73.2</span>
                                            <span>1109.91</span>
                                        </div>
                                    </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dinner">
                    <br>
                    <h4>DINNER</h4>
                    <br>
                    <div class="card-columns">
                        <div class="card" style='width: 400px;'>
                            <img class="card-img-top" src="../static/images/매운갈비찜.PNG" alt="Card image cap"
                                width="400px" height="260px">
                            <div class="card-body">
                                <h5 class="card-title">찜류-육류찜-매운갈비찜</h5>
                                <p class="card-text">
                                <div class="policy-container">
                                    <div class="policy-table">
                                        <div class="headings">
                                            <span class="heading">1회제공량</span>
                                            <span class="heading">에너지(kcal)</span>
                                            <span class="heading">단백질(g)</span>
                                        </div>
                                        <div class="policy">
                                            <span>300</span>
                                            <span>517.44</span>
                                            <span>61.3</span>
                                        </div>
                                    </div>
                                    <div class="policy-table">
                                        <div class="headings">
                                            <span class="heading">지방(g)</span>
                                            <span class="heading">탄수화물(kcal)</span>
                                            <span class="heading">나트륨(mg)</span>
                                        </div>
                                        <div class="policy">
                                            <span>19.7</span>
                                            <span>23.7</span>
                                            <span>1138.51</span>
                                        </div>
                                    </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card" style='width: 400px;'>
                            <img class="card-img-top" src="../static/images/치킨데리야끼.PNG" alt="Card image cap"
                                width="400px" height="260px">
                            <div class="card-body">
                                <h5 class="card-title">구이류-육류구이-치킨데리야끼</h5>
                                <p class="card-text">
                                <div class="policy-container">
                                    <div class="policy-table">
                                        <div class="headings">
                                            <span class="heading">1회제공량</span>
                                            <span class="heading">에너지(kcal)</span>
                                            <span class="heading">단백질(g)</span>
                                        </div>
                                        <div class="policy">
                                            <span>340</span>
                                            <span>707.00</span>
                                            <span>56.2</span>
                                        </div>
                                    </div>
                                    <div class="policy-table">
                                        <div class="headings">
                                            <span class="heading">지방(g)</span>
                                            <span class="heading">탄수화물(kcal)</span>
                                            <span class="heading">나트륨(mg)</span>
                                        </div>
                                        <div class="policy">
                                            <span>30.7</span>
                                            <span>51.7</span>
                                            <span>906.15</span>
                                        </div>
                                    </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card" style='width: 400px;'>
                            <img class="card-img-top" src="../static/images/짜장밥.jpg" alt="Card image cap" width="400px"
                                height="260px">
                            <div class="card-body">
                                <h5 class="card-title">밥류-덮밥류-짜장밥</h5>
                                <p class="card-text">
                                <div class="policy-container">
                                    <div class="policy-table">
                                        <div class="headings">
                                            <span class="heading">1회제공량</span>
                                            <span class="heading">에너지(kcal)</span>
                                            <span class="heading">단백질(g)</span>
                                        </div>
                                        <div class="policy">
                                            <span>470</span>
                                            <span>572.00</span>
                                            <span>20.1</span>
                                        </div>
                                    </div>
                                    <div class="policy-table">
                                        <div class="headings">
                                            <span class="heading">지방(g)</span>
                                            <span class="heading">탄수화물(kcal)</span>
                                            <span class="heading">나트륨(mg)</span>
                                        </div>
                                        <div class="policy">
                                            <span>22.2</span>
                                            <span>73.2</span>
                                            <span>1109.91</span>
                                        </div>
                                    </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-basic">
            <footer>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Home</a></li>
                    <li class="list-inline-item"><a href="#">Services</a></li>
                    <li class="list-inline-item"><a href="#">About</a></li>
                    <li class="list-inline-item"><a href="#">Terms</a></li>
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                </ul>
                <p class="copyright">Company Name © 2022</p>
            </footer>
        </div>
</div>
</body>

</html>