@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Noto+Sans+KR:wght@300&display=swap');

::-webkit-scrollbar {
	display:none /* Chrome , Safari , Opera */
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Bitter', serif;
}

html,body {
  height:100%;
  width: 100%;
}

.header {
  display:flex;
  /* align-items: stretch; */
  align-items: center;
  height: 120px;
  box-sizing: border-box;
  background-color: #fff;
  /* width: 80%; */
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #1d3b2a;
}

.header__logo h1 {
/* letter-spacing: 2px; */
  margin-left:2rem;
}

.header__menu{
  /* padding-top: 30px; */
  display:flex;
  flex:1 1 auto;
  justify-content: flex-end;
  
}
.header__menu>ul{
  display:flex;
  align-items:center;
  justify-content: space-between;
  margin-right:2rem;
  /* margin-bottom: 1rem; */
}
.header__menu>ul>li{
  padding-left:1.5rem;
  align-items:center;
  
}
.header__menu a {
  font-size: 15px;
  color: #1d3b2a;
  font-family: 'Bitter', serif;
  
}

.header__menu a:hover {
color: rgb(114, 114, 114);
text-decoration: none;
}


.wrap {
  width: 80%;
  margin: 0 auto !important;
}

.service_name {
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 35px;
  color: #1d3b2a;
  /* font-family: 'Bitter', serif; */
  font-weight: bold;
  font-size: 1.75rem;

}

.content_up{
  position: relative;
  display:flex;
  flex:1 1 auto;
  justify-content: center;
  width: 100%;  
  height:auto;                                                             
  min-height: calc(100% - 240px);
}

.card-columns {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.card-body {
  border: 1px solid lightgray;
  padding:0.8rem;
  margin: 0.5rem;
  width: 320px;
  height: auto;
}

.card-title {
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: large;
}

.radar{
    width: 350px;
    height: 350px;
    /* margin-left: 130px; */
}

.radar_text {
    text-align: center;
    margin-top: -10px;
}
.left_content{
    /* width: 600px; */
    /* height: 400px; */
    padding: 2rem;
    float: left;
    border: 1px solid rgba(179,181,198,1);
    border-radius: 2em;
}

.today {
    padding-right: 30px;
}

.right_content{
    width: 400px;
    /* height: 400px; */
    float: left;
    margin-left: 3rem;
    /* margin-left: 70px;
    margin-top: 15px; */
    /* display: flex; */

    
}
  
  .policy-table {
    color: grey;
    text-align: center;
    /* width: 400px; */
    font-size: -small;
  }

  .policy-table h4 {
    margin: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: large;
  }
  
  .headings, .policy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* margin-bottom: 1em; */
    padding: 1em;
  }
  
  .heading {
    flex-basis: 33.333%;
    font-weight: bold;
  }
  
  .policy {
    border-radius: 2em;
    background-color: white;
    margin-bottom: 20px;
    -moz-box-shadow: 0 0 3px grey;
    -webkit-box-shadow: 0 0 3px grey;
    box-shadow: 0 0 5px grey;
  }
  
  span {
    font-family: 'Noto Sans KR', sans-serif;
    flex-basis: 33.333%;
    font-size: 14px;
  }
  
  a {
    text-decoration: none;
    color: #4c4c4c;
  }

/*--------------------
Footer
--------------------*/

.footer-basic {
  position : relative;
  /* margin-top: 20px; */
  width: 100%;
  padding: 30px 0;
  /* height: 120px; */
  background-color:#1d3b2a;
  color:#fff;
  bottom: 0;

}

.footer-basic ul {
  /* padding-top:15px; */
  list-style:none;
  text-align:center;
  font-size:15px;
  line-height:1.6;
  /* margin-bottom:0; */
  margin: auto;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    text-decoration:none;
    opacity:0.8;
    color:#fff;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  /* margin-bottom:0; */
}

.list-inline-item {
  display: inline-block;
}