@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Noto+Sans+KR:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Bitter', serif;
}

/* div {
  display: block;
} */

html {
  min-height: 100%;
}

.header {
    display:flex;
    align-items: stretch;
    height: 100px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 1;
}

.header__logo h1 {
    padding-top: 15px;
    padding-left: 50px;
    letter-spacing: 2px;
}
.header__menu{
    padding-top: 30px;
    display:flex;
    flex:1 1 auto;
    justify-content: flex-end;
}
.header__menu>ul{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-right:2rem;
}
.header__menu>ul>li{
    padding-left:1.5rem;
    
}
.header__menu a {
    font-size: 20px;
    color: #1d3b2a;
    font-family: 'Bitter', serif;
}

body {
  background: whitesmoke;
  background: #2c3e50;
  
}

.content_up{
  position: relative;
  display:flex;
  flex:1 1 auto;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-size: auto;
  /* background-color:#fff; */
  padding-bottom: 151px;
}

.meal {
  text-align: center;
  font-size: large;
  width: auto;
  height: 820px;
}

.datebox {
  margin-top: 50px;
  text-align: center;
}

.mealtime {
  margin: 1.5rem;
}

.texth1, .texth2, .texth3{
  font-size: 40px;
  color: #1d3b2a;
  cursor: pointer;
  margin-right: 2rem;

}

.search-div
{
  position: relative;
  padding: 1.5rem;
  
}


.search-form {
  position: relative;
  width: 350px;
  height: 40px;
  margin: auto;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
  transition: all 0.3s ease;
} 

.search-input {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 195px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;
}
.search-input::-webkit-search-cancel-button {
  appearance: none;
}

.search-button {
  position: absolute;
  top: 5px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}
.search-button svg {
  width: 20px;
  height: 20px;
  fill: #5a6674;
}

.search-option {
  position: absolute;
  text-align: right;
  top: 5px;
  right: 15px;
}
.search-option div {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  cursor: pointer;
}
.search-option div input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.01;
  cursor: pointer;
}
.search-option div span {
  position: absolute;
  display: block;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background: #929AA3;
  color: #fff;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  padding: 4px 7px;
  border-radius: 12px;
  top: -18px;
  transition: all 0.2s ease-in-out;
}
.search-option div span::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 4px solid #929AA3;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transition: all 0.2s ease-in-out;
}
.search-option div:hover span {
  opacity: 1;
  top: -21px;
}
.search-option div label {
  display: block;
  cursor: pointer;
}
.search-option div svg {
  height: 20px;
  width: 20px;
  fill: #5a6674;
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}
/* 이미지 검색 */
/* .img-box {
  display:none; 
  width: 400px; 
  background-color:white; 
  margin: 0 auto; 
  border:1px solid rgba(0,0,0,.2);
  z-index: 10; 
  position:relative;
}
.img-head {
  padding:5px; 
  border-bottom:1px solid rgba(0,0,0,.2);
  text-align: left;
}
.img-exp {
  display:inline-block;
} */

/* 검색결과 출력 */
.search-list{
  position: relative;
  /* height: 210px; */
  font-family: 'Noto Sans KR', sans-serif;
  padding: 1rem;
  text-align: center;
}
/* .search-list p {
  font-family: 'Noto Sans KR', sans-serif;
} */
/* submit 버튼 */
.submit-btn {
  margin: auto;
  padding: 1rem;
}
.button3{ 
color:black;
padding:10px 30px;
border:1.5px solid gray;
outline:none;
font-size:15px;
font-weight:400;
transition:all .1s linear;
border-radius: 100px;
background: white;
margin-right: 30px;
}
.button3:active{
box-shadow:none;
-moz-transform:translate3d(-6px,6px,0);
-ms-transform:translate3d(-6px,6px,0);
-webkit-transform:translate3d(-6px,6px,0);
transform:translate3d(-6px,6px,0)
}
.button4{
  color:black;
  padding:10px 30px;
  border:1.5px solid gray;
  outline:none;
  font-size:15px;
  font-weight:400;
  transition:all .1s linear;
  border-radius: 100px;
  background: white;
  /* margin-right: 30px; */
}
.button4:active{
box-shadow:none;
-moz-transform:translate3d(-6px,6px,0);
-ms-transform:translate3d(-6px,6px,0);
-webkit-transform:translate3d(-6px,6px,0);
transform:translate3d(-6px,6px,0)
}

/* footer */
.footer-basic {
  position : relative;
  /* margin-top: 20px; */
  padding: 30px 0;
  height: 151px;
  background-color:#1d3b2a;
  color:#fff;
  z-index: -2;
  transform : translateY(-100%);

}

.footer-basic ul {
  padding-top:15px;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    text-decoration:none;
    opacity:0.8;
    color:#fff;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}