html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@media all and (min-width:1024px) { /*computer*/
    #wrap {
      width: 20%;
    }
    #wrap div:nth-child(5){width:20%;}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
}

.header {
  padding-left: 250px;
  height: 130px;
  text-align: left;
  box-sizing: border-box;
  border-bottom: 1px solid #999;
}

.header__logo h1 {
  padding-top: 0px;
  letter-spacing: 2px;
}

.header__logo p {
  font: bold 12px 'arial';
  margin-top: -1px;
  letter-spacing: 2px;
}

.header__gnb ul {
  margin-top: -80px;
  text-align: right;
  margin-right: 320px;
}

.header__gnb ul li {
  display: inline-block;
}

.header__gnb ul li a {
  display: block;
  font: bold 14px 'arial';
  color: #999;
  margin: 0px 16px;
  letter-spacing: 1px;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eefbfb;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    background: whitesmoke;
}

#warp {
    width: 1300px;
    margin: 0 auto;
}

.content_up{
    position: relative; 
    width: 1600px;                                                               
    height: 500px;
    background-size: cover;
    margin-top: 60px;
}

.footer-basic {
  padding:100px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.card-columns {
    width:1300px;
    margin:0 auto;
}

.radar{
    width: 350px;
    height: 350px;
    margin-left: 130px;
}

.radar_text {
    text-align: center;
    margin-top: -10px;
}
.left_content{
    width: 600px;
    height: 400px;
    float: left;
    border: 1px solid rgba(179,181,198,1);
    border-radius: 2em;
}

.today {
    padding-right: 30px;
}

.right_content{
    width: 600px;
    height: 400px;
    float: left;
    margin-left: 70px;
    margin-top: 15px;
}
  
  .policy-table {
    color: grey;
    text-align: center;
  }
  
  .headings, .policy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 1em;
    padding: 1em;
  }
  
  .heading {
    flex-basis: 33.333%;
    font-weight: bold;
  }
  
  .policy {
    border-radius: 2em;
    background-color: white;
    margin-bottom: 20px;
    -moz-box-shadow: 0 0 3px grey;
    -webkit-box-shadow: 0 0 3px grey;
    box-shadow: 0 0 5px grey;
  }
  
  span {
    flex-basis: 33.333%;
  }
  
  a {
    text-decoration: none;
    color: #4c4c4c;
  }

}