<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Food Table</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/recommend.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  <style>
        /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      vertical-align:middle;
    }

    /* Hide default HTML checkbox */
    .switch input {display:none;}

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    p {
      margin:0px;
      display:inline-block;
      font-size:15px;
      font-weight:bold;
    }
  </style>
</head>

<body>
  <header class="header">
    <div class="header__logo">
      <a href="{{url_for('index')}}">
        <h1><img src="../static/images/logo.png" width="269px" , height="65px"></h1>
      </a>
    </div>
    <div class="header__menu">
      <ul>
        <li><a href="{{url_for('diary')}}">DIARY</a></li>
        <li><a href="{{url_for('write')}}">WRITE</a></li>
        <li><a href="{{url_for('recommend')}}">RECOMMEND</a></li>
        <li><a href="{{url_for('search_info')}}">SEARCH</a></li>
        <li><a href="{{url_for('signout')}}">SIGN OUT</a></li>
        <li><a href="{{url_for('mypage')}}"><img src="../static/images/user.png" width="35px" , height="35px"></a></li>
    </ul>   
    </div>
  </header>
  <div id="warp" class="wrap">
    <h3 class="service_name">사용자 정보 분석</h3>
    <div class="content_up">
      <div class="left_content">
        <div class="radar">
          <canvas id="marksChart">
          </canvas>
        </div>
      </div>
      <div class="right_content">
        <div class="policy-container">
          <div class="policy-table">
            <h4>일일 권장 섭취량</h4>
            <div class="policy">
              <span> 칼로리</span>
              <span>{{uRDI}} kcal</span>
            </div>
            <div class="policy">
              <span> 탄수화물</span>
              <span>{{nut[0]}} g</span>
            </div>
            <div class="policy">
              <span> 단백질</span>
              <span>{{nut[1]}} g</span>
            </div>
            <div class="policy">
              <span> 지방</span>
              <span>{{nut[2]}} g</span>
            </div>
            <div class="policy">
              <span> 나트륨</span>
              <span>2300 mg</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      var marksCanvas = document.getElementById("marksChart");

      var marksData = {
        labels: ["열량", "탄수화물", "단백질", "지방", "나트륨"],
        datasets: [{
                  label: "일일 섭취 영양성분 달성량(100% 기준)",
                  fill: true,
                  backgroundColor: "rgba(179,181,198,0.2)",
                  borderColor: "rgba(179,181,198,1)",
                  pointBorderColor: "#fff",
                  pointBackgroundColor: "rgba(179,181,198,1)",
                  data: ['{{rate[0]}}', '{{rate[1]}}', '{{rate[2]}}', '{{rate[3]}}', '{{rate[4]}}']
                }, {
                  label: "전체 섭취 영양성분 달성량(100% 기준)",
                  fill: true,
                  backgroundColor: "rgba(255,99,132,0.2)",
                  borderColor: "rgba(255,99,132,1)",
                  pointBorderColor: "#fff",
                  pointBackgroundColor: "rgba(255,99,132,1)",
                  pointBorderColor: "#fff",
                  data: ['{{t_rate[0]}}', '{{t_rate[1]}}', '{{t_rate[2]}}', '{{t_rate[3]}}', '{{t_rate[4]}}']
                }]
      };

      var chartOptions = {
        title: {
          display: true,
          text: '일일 섭취량 달성률 vs 전체 섭취량 달성률'
        },
        scale: {
          angleLines: {
            display: false
          },
          ticks: {
            beginAtZero: true,
            min: 0,
            max: 150,
            stepSize: 30
          },
        },
      };

      var radarChart = new Chart(marksCanvas, {
        type: 'radar',
        data: marksData,
        options: chartOptions
      });
    </script>

    <div class = "service_recommend">
      <h4 class = "service_name_bottom">일일 추천 식단</h4>
      <form method="post" id = "select_mode">
        <label class="switch">
          {% if mode == "off" %}
            <input type="checkbox" name="mode" onclick="document.getElementById('select_mode').submit();">
          {%else%}
            <input type="checkbox" name="mode" onclick="document.getElementById('select_mode').submit();" checked>
          {%endif%}
          <span class="slider round"></span>
        </label>
      </form>
      <p>&nbsp;&nbsp;Normal Mode</p><p style="display:none;">&nbsp;&nbsp;Diet Mode</p>
  
      <script>
        var check = $("input[type='checkbox']");
        check.click(function(){
          $("p").toggle();
        });
      </script>
    </div>
    
    <div class="card-columns">
      <div class="card-body">
        <h5 class="card-title">{{menu1.foodname}}</h5>
        <div class="policy-container">
          <div class="policy-table">
            <div class="headings">
              <span class="heading">1회제공량(g)</span>
              <span class="heading">에너지(kcal)</span>
              <span class="heading">단백질(g)</span>
            </div>
            <div class="policy">
              <span>{{menu1.gram}}</span>
              <span>{{menu1.kcal}}</span>
              <span>{{menu1.protein}}</span>
            </div>
          </div>
          <div class="policy-table">
            <div class="headings">
              <span class="heading">지방(g)</span>
              <span class="heading">탄수화물(g)</span>
              <span class="heading">나트륨(mg)</span>
            </div>
            <div class="policy">
              <span>{{menu1.fat}}</span>
              <span>{{menu1.carbohydrate}}</span>
              <span>{{menu1.sodium}}</span>
            </div>
          </div>
  
        </div>
      </div>
      
      <div class="card-body">
        <h5 class="card-title">{{menu2.foodname}}</h5>
  
        <div class="policy-container">
          <div class="policy-table">
            <div class="headings">
              <span class="heading">1회제공량(g)</span>
              <span class="heading">에너지(kcal)</span>
              <span class="heading">단백질(g)</span>
            </div>
            <div class="policy">
              <span>{{menu2.gram}}</span>
              <span>{{menu2.kcal}}</span>
              <span>{{menu2.protein}}</span>
            </div>
          </div>
          <div class="policy-table">
            <div class="headings">
              <span class="heading">지방(g)</span>
              <span class="heading">탄수화물(g)</span>
              <span class="heading">나트륨(mg)</span>
            </div>
            <div class="policy">
              <span>{{menu2.fat}}</span>
              <span>{{menu2.carbohydrate}}</span>
              <span>{{menu2.sodium}}</span>
            </div>
          </div>
        </div>
      </div>
  
      <div class="card-body">
        <h5 class="card-title">{{menu3.foodname}}</h5>
        <div class="policy-container">
          <div class="policy-table">
            <div class="headings">
              <span class="heading">1회제공량(g)</span>
              <span class="heading">에너지(kcal)</span>
              <span class="heading">단백질(g)</span>
            </div>
            <div class="policy">
              <span>{{menu3.gram}}</span>
              <span>{{menu3.kcal}}</span>
              <span>{{menu3.protein}}</span>
            </div>
          </div>
          <div class="policy-table">
            <div class="headings">
              <span class="heading">지방(g)</span>
              <span class="heading">탄수화물(g)</span>
              <span class="heading">나트륨(mg)</span>
            </div>
            <div class="policy">
              <span>{{menu3.fat}}</span>
              <span>{{menu3.carbohydrate}}</span>
              <span>{{menu3.sodium}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-basic">
    <footer>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Home</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      </ul>
      <p class="copyright">Company Name © 2022</p>
    </footer>
  </div>
</body>

</html>